*, *::after, *::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
  font-size: 62.5%; /* 1rem = 10px*/
  font-family: 'Manrope', sans-serif;
  --background: #000000;
  --text-color: #FFFFFF;
  --text-color2: #000000;
  --button: #8257E5;
  --border: #29292E;
  --border-menu-mobile: #A8A8B3;
  --text-color-menu-mobile: #E1E1E6;
}
body{ 
  margin:0;
  background-color: var(--background);
  background-image: url(./assets/blur-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

/*/////////////////////////////
            HEADER  
/////////////////////////////*/

header img:nth-child(2),
header .wrap-button{
  display: none;
}
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.5rem;
  margin-top: 3.7rem;
  height: 5.8rem;
  border-bottom: 1px solid var(--border-menu-mobile);
}
.hamburguerOpen,
.hamburguerClose{
  padding: 1.5rem;
}

/*/////////////////////////////
              NAV
/////////////////////////////*/

nav li a{
  color: #f8f9f7;
  text-decoration: none;
  padding: 1rem 0 1rem 1rem;
  width: 100%;
}
nav ul{
  position: absolute;
  right: -100%;
  top: 9.5rem;
  width: 100%;
  height: 100%;
  background-color: var(--background);
  font-size: 2rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  transition: right 0.5s;
}
nav ul li{
  display: flex;
  border-bottom: 1px solid var(--border-menu-mobile);
}
.on ul{
  right: 0;
}
.on img:nth-child(1){
  display: none;
}
.on img:nth-child(2){
  display: inline;
}
/* .Off{
  visibility: hidden;
} */

/*/////////////////////////////
            MAIN
/////////////////////////////*/

main .wrap-button{
  display: flex;
  justify-content: center;
  margin-bottom: 9rem;
}
main h1{
  color: var(--text-color);
  text-align: center;
  font-weight: 400;
  font-size: 3rem;
  line-height: 4rem;
  letter-spacing: 0.02rem;
  margin-block: 9rem;
  padding-inline: 1rem;
}
button{
  display: flex;
  border: none;
  border-radius: 6px;
  background-color: transparent;
  border: 1px solid var(--button);
  transition: background 0.3s;
}
.button{
  display: flex;
  gap: 1rem;
  padding: 1rem 3rem;
  border-radius: 6px;
  text-decoration: none;
  color: var(--text-color);
}
button:hover{
  background-color: #8257E5;
  cursor: pointer;
}
button:hover img{
  animation: translateX 2s infinite;
}
@keyframes translateX {
  100%{
    transform: translateX(8px);
  }
}
/*/////////////////////////////
          GREAT COFFE
/////////////////////////////*/
section{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box{
  display: flex;
  color: var(--text-color);
  flex-direction: column;
  font-size: 4rem;
  align-items: center;
  font-weight: 600;
  margin-bottom: 3rem;
}
.box p:nth-child(2){
  color: var(--text-color2);
  -webkit-text-stroke: var(--button) 1px;
}
.coffe{
  width: 100%;
  max-width: 500px;
}

/*/////////////////////////////
            DESKTOP
/////////////////////////////*/

@media(min-width: 720px) {
  ::-webkit-scrollbar{
    width: 15px;
    background-color: #332555;
  }
  ::-webkit-scrollbar-button{
    display: none;
  }
  ::-webkit-scrollbar-thumb{
    background-color: #808080;
    border-radius: 15px;
  }
  ::-webkit-scrollbar-thumb:hover{
    background-color: #555555;
    border-radius: 15px;
  }
  ::-webkit-scrollbar-track, 
  ::-webkit-scrollbar-track-piece{
    border-radius: 15px;
  }
  body{ 
    background-image: url(./assets/blur-mobile.png);
  }

  /*////////////////// BACKGROUND /////////////////////////*/
  
  body{
    background:url(./assets/blur-1.png), url(./assets/blur-2.png);
    background-color: black;
    background-size: cover;
    margin: 0;
  }

  /*///////////////////////// HEADER //////////////////////*/ 

  header img:first-child{
    display: none;
  }
  header img:nth-child(2),
  header .wrap-button{
    display: flex;
  }
  header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 2rem;
    border-bottom: 0;
  }
  .coffe, header{
      max-width: 900px;
      margin-inline: auto;
    }

  /*///////////////////////// NAV //////////////////////*/ 
  
  nav ul{
    flex-direction: row;
    position: static;
    right: auto;
    top: auto;
    width: auto;
    height: auto;
    background-color: transparent;
    font-size: 1.7rem;
    gap: 10px;
  }
  nav ul li{
    border-bottom: 0;
    transition: 1s;
  }
  nav li a{
    padding: 0.3rem;
  }
  nav li:hover{
    border-bottom:1px solid #8257E5;
  }
  nav .hamburguerClose{
    position: absolute;
    right: -100%;
  }

  /*//////////////////// MAIN (NONE) //////////////////*/
  
  main h1,
  main .wrap-button{
    display: none;
  }

  /*/////////////////// GREAT CODE //////////////////////*/
  
  .box{
    font-size: 8rem;
    font-weight: 700;
    margin-block: 4rem;
    line-height: 11rem;
    letter-spacing: -0.03em;
  }
}