*, *::after, *::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
:root{
  font-size: 62.5%; /* 1rem = 10px*/
  font-family: 'Manrope', sans-serif;
  --background: #000000;
  --text-color: #FFFFFF;
  --text-color2: #000000;
  --text-color3: #F8F9F7;
  --button: #8257E5;
  --border: #29292E;
  --border-menu-mobile: #A8A8B3;
  --text-color-menu-mobile: #E1E1E6;
}
body{ 
  background-color: var(--background);
  background-image: url(./assets/blur-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}
body.menuOpen{
  overflow: hidden;
}

/*/////////////////////////////
            HEADER  
/////////////////////////////*/

header img:nth-child(2),
header .wrap-button,
.blur{
  display: none;
}
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.5rem;
  margin-top: 3.7rem;
  height: 5.8rem;
  border-bottom: 1px solid var(--border-menu-mobile);
}
.hamburguerOpen,
.hamburguerClose{
  padding: 1.5rem;
}

/*/////////////////////////////
              NAV
/////////////////////////////*/

nav ul{
  display: flex;
  flex-direction: column;
  position: fixed;
  right: -100%;
  top: 9.5rem;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  background-color: var(--background);
  transition: right 0.5s;
}
nav ul li{
  display: flex;
  border-bottom: 1px solid var(--border-menu-mobile);
}
nav li a{
  color: var(--text-color3);
  padding: 1rem 0 1rem 1rem;
  width: 100%;
}
.on ul{
  right: 0;
}
.on img:nth-child(1){
  display: none;
}
.on img:nth-child(2){
  display: inline;
}

/*/////////////////////////////
            MAIN
/////////////////////////////*/

main h1{
  color: var(--text-color);
  text-align: center;
  font-weight: 400;
  font-size: 3rem;
  line-height: 4rem;
  letter-spacing: 0.02rem;
  margin-block: 9rem;
  padding-inline: 1rem;
}
main .wrap-button{
  display: flex;
  justify-content: center;
  margin-bottom: 9rem;
}
button{
  display: flex;
  border: none;
  border-radius: 6px;
  background-color: transparent;
  border: 1px solid var(--button);
  transition: background 0.3s;
}
.button{
  display: flex;
  gap: 1rem;
  padding: 1rem 3rem;
  border-radius: 6px;
  color: var(--text-color);
}
button:hover{
  background-color: var(--button);
  cursor: pointer;
}
button:hover img{
  animation: translateX 2s alternate infinite both ;
}
@keyframes translateX {
  100%{
    transform: translateX(8px);
  }
}

/*/////////////////////////////
          GREAT COFFE
/////////////////////////////*/

section{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box{
  display: flex;
  color: var(--text-color);
  flex-direction: column;
  font-size: 4rem;
  align-items: center;
  font-weight: 600;
  margin-bottom: 3rem;
}
.box p:nth-child(2){
  color: var(--text-color2);
  text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button),
  -1px 1px 0 var(--button), 1px 1px 0 var(--button);
}
.coffe{
  width: 100%;
  animation: shadow 20s alternate infinite both;
}
@keyframes shadow {
  20% {
    filter: drop-shadow(0 -1rem 8rem var(--button));
  }

  45% {
    filter: drop-shadow(0 -1rem 4.5rem var(--button));
  }

  85% {
    filter: drop-shadow(0 -1rem 8.1rem var(--button));
  }
}
/*/////////////////////////////
            DESKTOP
/////////////////////////////*/

@media(min-width: 750px) {
  ::-webkit-scrollbar{
    width: 15px;
    background-color: #332555;
  }
  ::-webkit-scrollbar-button{
    display: none;
  }
  ::-webkit-scrollbar-thumb{
    background-color: #808080;
    border-radius: 15px;
  }
  ::-webkit-scrollbar-thumb:hover{
    background-color: #555555;
    border-radius: 15px;
  }
  ::-webkit-scrollbar-track, 
  ::-webkit-scrollbar-track-piece{
    border-radius: 15px;
  }

  /*////////////////// BACKGROUND /////////////////////////*/

  body{
    background:url(./assets/blur-1.png), url(./assets/blur-2.png);
    background-color: var(--background);
    background-size: cover;
    background-repeat: no-repeat;
  }

  /*///////////////////////// HEADER //////////////////////*/ 

  header img:nth-child(2),
  header .wrap-button{
    display: block;
  }
  header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 2rem;
    border-bottom: 0;
  }

  /*///////////////////////// NAV //////////////////////*/ 
  
  nav ul{
    flex-direction: row;
    position: static;
    right: auto;
    top: auto;
    width: auto;
    height: auto;
    background-color: transparent;
    font-size: 1.7rem;
    gap: 2rem;
  }
  nav ul li{
    border-bottom: 0;
  }
  nav li a{
    padding: 0;
  }
  .menuOption{
    position: relative;
    transition: .3s;
  }
  .menuOption:hover{
    transform: scale(1.1);
  }
  .menuOption::after{
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 0;
    opacity: 0; 
    background-color: var(--button);
    transition: width .5s, opacity 1s;
  }
  .menuOption:hover::after{
    opacity: 1;
    width: 100%;
  }
  
  /*/////////////////// GREAT CODE //////////////////////*/
  
  .box{
    font-size: 8rem;
    font-weight: 700;
    margin-block: 4rem;
    line-height: 11rem;
    letter-spacing: -0.03em;
  }

  /*///////////////////////// NONE //////////////////////*/ 

  header img:first-child,
  main h1,
  main .wrap-button,
  body nav .hamburguerClose,
  .on img:nth-child(2){
    display: none;
  } 
}

/*/////////////////////////////
            850px
/////////////////////////////*/

@media(min-width: 850px) {
  header img:nth-child(2),
  nav{
   justify-self: center; 
  }
  header{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    border-bottom: 0;
    padding-inline: 0;
  }
  .coffe{
    max-width: 90%;
  }
}

/*/////////////////////////////
            1400px
/////////////////////////////*/

@media(min-width: 1400px) {
  header{
    margin-top: 7rem;
  }
  header img:nth-child(2){
    width: 55px;
  }
  button{
    border-radius: 9px;
  }
  .button{
    font-size: 2.5rem;
    padding: 1.5rem 5rem;
    border-radius: 9px;
  }
  nav ul{ 
    font-size: 2.5rem;
    color: var(--text-color3);
  }
  .menuOption::after{
    height: 2px;
  }
  .box{
    font-size: 9rem;
    margin-block: 7rem;
  }
  .coffe{
    max-width: 1810px;
  }
}

/*/////////////////////////////
            2500px
/////////////////////////////*/

@media(min-width: 2500px) {
  header{
    margin-top: 9rem;
  }
  header img:nth-child(2){
    width: 65px;
  }
  button{
    border-radius: 9px;
  }
  .button{
    font-size: 3.5rem;
    padding: 2.5rem 7rem;
    border-radius: 9px;
  }
  nav ul{ 
    font-size: 3.5rem;
    gap: 5rem;
  }
  .box{
    font-size: 12rem;
    margin-block: 15rem;
  }
  .coffe{
    max-width: 70%;
  }
}